* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
}

.app {
  display: flex;
  padding: 8px;
}

.side_bar {
  width: 20%;
  padding: 8px;
  ul {
    list-style: none;
  }
}
